.nav__container {
    width: 100vw;
    height: 50px;
    background: black;
    color: white;
    /* border-radius: 25px; */
    justify-content: space-between !important;
    /* padding-left: 5px; */
    /* padding-right: 5px; */
}

.small-logo {
    display: flex;
    flex-direction: row;
}
.small-logo h1 {
    padding: 0;
    margin: 0;
}
.small-logo h1:nth-child(1) {
    margin-left: 10px;
}

.nav__container svg {
    margin-right: 10px;
}

#drawer__container {
    width: 100vw;
    height: 35px;
    background: rgb(69, 188, 243);
    border: 1px solid white;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    animation: mymove 100ms ease-out;
  }
  
  @keyframes mymove {
    from {height: 0px;}
    to { height: 35px; }
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100vw;
}

ul li {
    font-family: 'Lobster', cursive;
}